<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Article Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Article Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/articles}">Article </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clients}">Client </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/commandes}">Commande </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ligneCmds}">Ligne Commande </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
            <a  class="logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
          </div>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Articles </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/articles/new}" class = "btn btn-primary btn-sm mb-3"> Add Article</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Nom Article</th>
					<th> Prix Unitaire</th>
					<th> Quantite Stock </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "article: ${articles}">
					<td th:text = "${article.nom_art}"></td>
					<td th:text = "${article.pu}"></td>
					<td th:text = "${article.qte_stock}"></td>
					<td>
						<a th:href = "@{/articles/edit/{id}(id=${article.cod_art})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/articles/{id}(id=${article.cod_art})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>