<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Client Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Client Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/articles}">Article </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clients}">Client </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/commandes}">Commande </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ligneCmds}">Ligne Commande </a>
      </li>
    </ul>
     <div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
            <a  class="logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
          </div>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Clients </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/clients/new}" class = "btn btn-primary btn-sm mb-3"> Add Client</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Nom Client</th>
					<th> Prenom Client</th>
					<th> Adresse Client</th>
					<th> Tel Client</th>
					<th> Ville Client</th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "client: ${clients}">
					<td th:text = "${client.nom_cli}"></td>
					<td th:text = "${client.pre_cli}"></td>
					<td th:text = "${client.adr_cli}"></td>
					<td th:text = "${client.tel_cli}"></td>
					<td th:text = "${client.ville_cli}"></td>
					<td>
						<a th:href = "@{/clients/edit/{id}(id=${client.cod_cli})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/clients/{id}(id=${client.cod_cli})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>