<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>stock</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<style>
    .btn1{text-align: center;color:white;font-family: Georgia;background: white;color:#565656;border: groove 0.6em #565656;border-radius:20px;font-weight:bold;}
    .btn1:hover{background: #565656;color:black}
    .btn{text-align: center;color:white;font-family: Georgia;background: #565656;border: solid black;border-radius:30px;font-weight:bold;}
</style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">



            <li class="nav-item active">
            <a class="nav-link" href="/Home"> <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
            
          </li>
        </ul>

      </div>
    </nav>
<br>
    <br>
    <div class = "container" style="padding-left:20%">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">

                <h1>Login</h1>
                <form th:action="@{/login}" method="post">

                    <!-- error message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid email or
                            password.</div>
                    </div>

                    <!-- logout message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>

                    <div class = "form-group">
                        <label for ="username"> Username </label> :
                        <input type="text" class = "form-control" id ="username" name = "username"
                        placeholder="Email" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>: <input type="password"
                            id="password" name="password" class="form-control"
                            placeholder="**" />
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit"
                                    class="form-control btn btn-primary" value="Log In" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>